.btn_insert {
    border-radius: 5px;
    background: #00A29A;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 20px;
}
#btn_diecomasivo {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background: #00A29A;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 0px;
}

.header_empleado {
    font-size: 1.2rem;
    width: 400px;
}

.header_puesto,
.header_rol,
.header_nomina,
.header_estatus,
.header_actions {
    font-size: 1.2rem;
    text-align: center;
    width: 200px;
}

.header_estatus,
.header_actions {
    width: 150px;
}

.row_user_info {
    align-items: center;
    display: flex;
    width: 400px;
}

.row_user_info img {
    border-radius: 20px;
    margin-right: 20px;
    width: 80px;
}

.row_user_info .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row_user_info .info .user_name {
    font-size: 1.2rem;
    font-weight: 600;
}

.row_rol,
.row_puesto,
.row_nomina,
.row_estatus,
.row_actions {
    text-align: center;
    width: 200px;
}

.row_estatus {
    border-radius: 10px;
    text-align: center;
    width: 150px;
}

.row_estatus.current {
    background: #CCECEA;
    border-radius: 5px;
    border: 1px solid #00A29A;
    color: #00A29A;
    padding: 5px;
}

.row_estatus.not_current {
    background: #ECCCCD;
    border-radius: 5px;
    border: 1px solid #A20008;
    color: #A20008;
    padding: 5px;
}

.row_actions {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 150px;
}

.row_actions i {
    cursor: pointer;
    font-size: 1.5rem;
}

.row_actions i.fa-solid.fa-eye {
    color: #00A29A;
}

.row_actions a {
    color: #A20008;
    text-decoration: none;
}

/* Media queries para pantallas de tablets y superiores */
@media (min-width: 768px) {

    .header_empleado,
    .header_puesto,
    .header_rol,
    .header_nomina,
    .header_estatus,
    .header_actions {
        font-size: 1.4rem;
    }

    .row_user_info img {
        width: 100px;
        height: 100px;
    }

    .row_user_info .info .user_name {
        font-size: 1.4rem;
    }

    .row_rol,
    .row_puesto,
    .row_nomina,
    .row_estatus,
    .row_actions {
        font-size: 1.4rem;
    }

    .row_actions i {
        font-size: 1.6rem;
    }

    .row_estatus.current,
    .row_estatus.not_current {
        padding: 10px;
    }
}

/* Media queries para pantallas de PC y superiores */
@media (min-width: 1024px) {

    .header_empleado,
    .header_puesto,
    .header_rol,
    .header_nomina,
    .header_estatus,
    .header_actions {
        font-size: 1rem;
    }

    .row_user_info img {
        width: 80px;
        height: 80px;
    }

    .row_user_info .info .user_name {
        font-size: 1rem;
    }

    .row_rol,
    .row_puesto,
    .row_nomina,
    .row_estatus,
    .row_actions {
        font-size: 1rem;
    }

    .row_actions i {
        font-size: 1.5rem;
    }

    .row_estatus.current,
    .row_estatus.not_current {
        padding: 12px;
    }
}