@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary: #00A29A;
    --secondary: #D9D9D9;
    --text-primary: #000000;
    --text-secondary: #FFFFFF;
}

* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}