@import url("../components/chips.css");

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.modal_content {
    background-color: #FFFFFF;
    border: 6px solid #00A29A;
    border-radius: 10px;
    left: 50%;
    max-width: 900px;
    min-width: 300px;
    padding: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 90%;
    max-width: 900px;
    min-width: 300px;
}

.modal_content .modal_header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.modal_content .modal_header span {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.modal_content .modal_header button {
    background: #ECCCCD;
    border: 1px solid #A20008;
    border-radius: 5px;
    color: #A20008;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px;
}

.modal_content .modal_body,
form {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    max-height: 700px;
    overflow-y: auto;
    padding: 20px;
}

.modal_content .modal_body span {
    font-size: 1.2rem;
    text-align: center;
}

.modal_content .input_group {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.modal_content .input_group label {
    font-size: 1.2rem;
}

.modal_content .input_group input {
    border-radius: 5px;
    border: 1px solid #00A290;
    font-size: 1.2rem;
    outline: none;
    padding: 15px;
}

.input_group.password {
    position: relative;
}

.input_group.password i {
    color: #00A29A;
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 20px;
    position: absolute;
    right: 10px;
    transform: translateX(-50%);
    top: 55%;
}

.contenedor-modal-foto {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 380px;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}

.contenedor-avatar-cambio {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 280px;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
    max-width: 400px;
}

.foto-perfil {
    background: #CCECEA;
    align-items: center;
    border-radius: 10px;
    color: #00A29A;
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin: 20px;
    min-height: 150px;
    width: 150px;
}

.image-preview__image {
    display: none;
    border: none;
    width: 100%;
}

/* ========== Cambio Foto ========== */
.boton-cambio {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    max-width: 450px;
}

.cambiar-foto {
    align-items: center;
    background-color: #00A29A;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    font-size: 17px;
    height: 50px;
    justify-content: center;
    padding: 6px 10px;
    width: 100%;
    max-width: 400px;
}

input::file-selector-button {
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.btn-foto {
    border: none;
    border-radius: 5px;
    background: #CCECEA;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin: 20px;
    width: 100%;
}

.modal_content .modal_body button {
    background: #CCECEA;
    border: 1px solid #00A29A;
    color: #00A29A;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.3rem;
    outline: none;
    padding: 10px;
    width: 100%;
}

.delete_user_text,
.de_text {
    font-weight: 600;
}

.delete_user_desc {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 20px;
}

.delete_user_desc img {
    height: 50px;
    width: 50px;
    border: 2px solid #00A29A;
    border-radius: 50%;
    background-size: cover;
}

.input_group.date {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.input_group.date {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;

}


.input_group.date .date_container {
    background: #CCECEA;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.input_group.date .date_container_birthday {
    background: #CCECEA;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.input_group.date .date_container .date_input {
    align-items: start;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
}

.input_group.date .date_container .date_input input {
    border: 1px solid #00A29A;
    background: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    padding: 10px;
    width: 100%;
}

.input_group.proof {
    display: none;
}

.input_group.proof.active {
    display: block;
}

.input_group.proof .upload_proof {
    align-items: center;
    background: #CCECEA;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.upload_proof input::file-selector-button {
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.container_incidencia {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

/* Media queries para pantallas de tablets y superiores */
@media (min-width: 768px) {
    .modal_content {
        padding: 30px;
    }

    .modal_content .modal_header span {
        font-size: 1.4rem;
    }

    .modal_content .modal_header button {
        font-size: 1.4rem;
        padding: 15px;
    }

    .modal_content .modal_body {
        gap: 30px;
    }

    .modal_content .input_group label,
    .modal_content .input_group input {
        font-size: 1.4rem;
    }

    .modal_content .input_group.password i {
        font-size: 1.7rem;
    }

    .contenedor-modal-foto,
    .contenedor-avatar-cambio {
        max-width: none;
    }

    .foto-perfil {
        width: 200px;
        min-height: 200px;
    }

    .cambiar-foto,
    .btn-foto {
        font-size: 18px;
        height: 60px;
    }

    .modal_content .modal_body button {
        font-size: 1.4rem;
        padding: 15px;
    }
}

/* Media queries para pantallas de PC y superiores */
@media (min-width: 1024px) {
    .modal_content {
        padding: 40px;
    }

    .modal_content .modal_header span {
        font-size: 1.6rem;
    }

    .modal_content .modal_header button {
        font-size: 1.6rem;
        padding: 20px;
    }

    .modal_content .modal_body {
        gap: 40px;
    }

    .modal_content .input_group label,
    .modal_content .input_group input {
        font-size: 1.6rem;
    }

    .modal_content .input_group.password i {
        font-size: 1.9rem;
    }

    .contenedor-modal-foto,
    .contenedor-avatar-cambio {
        max-width: none;
    }

    .foto-perfil {
        width: 250px;
        min-height: 250px;
    }

    .cambiar-foto,
    .btn-foto {
        font-size: 20px;
        height: 70px;
    }

    .modal_content .modal_body button {
        font-size: 1.6rem;
        padding: 20px;
    }
}
.selection{
    padding: 20px;
    font-size: 1.2rem;
    border: 1px solid #00A290;
    color: rgb(44, 43, 43);
}
.selection option{
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #00A290;
    outline: none;
    background-color: #FFFFFF;
}